{% extends "layout.html" %}

{% block script %}

{% endblock %}

{% block title %}
  episodes
{% endblock %}

{% block main %}
<div class="container">

  <div class="dropdown" style="padding-bottom: 20px;">
    <button style="width: 160px; color: #5ab87c;" class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ season }} 
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="1">Season 1</a>
      <a class="dropdown-item" href="2">Season 2</a>
      <a class="dropdown-item" href="3">Season 3</a>
      <a class="dropdown-item" href="4">Season 4</a>
      <a class="dropdown-item" href="5">Season 5</a>
    </div>
  </div>

      <p style="font-weight: 400; color:#bfbfbf; font-size: 15px;"> release year: 2009</p>
    <p>Teacher turned meth dealer Walter climbs higher in the drug game, which draws attention from competing cartels and imperils his DEA brother-in-law.</p>
    <hr style="height:2px;border-width:0;color:green;background-color:#3fb573">

  <div class="row" align="center">
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABQTfjeMCYOYrn8-8SAPAPGmsXp0hBsbQE09A5h22Poz53hmcLpLk8_WnxAf90_W-qQeAyHIB_P4ybZHFAup0VkV6VQ1H_ksceMiKPnCtUu7mGBhR.jpg?r=4c4" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>1. Seven Thirty-Seven</h5>
        <p>As they lay plans for their final big drug deals, Walt and Jesse worry that their sole buyer will think nothing of killing them when it suits him.</p>
    </div>

    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABa6cdzilwHP6-RT52vMNqNhON52_ekNU2XltYK46Y9ZeDk4rC5IsTxmN2awK0NdCm3ORE5I9Q46cLkOVs2ZER0EgsQTQ3zCnMbxP1-Sk2UEbvEG2.jpg?r=829" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>2. Grilled</h5>
        <p>As a DEA manhunt for Tuco gets under way, Skyler enlists Hank in the search for Walt.</p>
    </div>

    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABQtBfEdYJ6fTzi4ojxgUtUN3iax8GhojXmFhkxz08qEO5wS00fx24Vi5R_wR3NWkfwlS_jAjcGYUHyJcqk-GN7vuIuFjTTDoUbujt7rOKsOwsDaI.jpg?r=4e9" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>3. Bit by a Dead Bee</h5>
        <p>As Hank comes dangerously close to uncovering Walt's role in the drug trade, he devises a plan to cover his tracks.</p>
        
    </div>
  </div>

  <div class="row" align="center">
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABRmbj2I2iWUP1km4b0zxx9hG5XRiru_iJjx_XpSpKHnMHfsHNZOyADsaUAqjQIScsLgBTWgE-dv_fhe1AzAszaA1FBOu60uL9NJ35WR-jXF0Q_sw.jpg?r=5c3" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>4. Down</h5>
        <p>With Walt struggling to bridge the growing gulf between him and Skyler, Jesse finds himself without a home after his parents evict him.</p>   
    </div>
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABZO-4MSyIxScnCOqnaGW13jNNQFNycJJt3xuNdNe43ZKZJlEfes3sCRl56V_Y81JMVUIgCUTybDe6FGavr5_TwuL1XLR5Sj2W6v0QAwwyRkSGRqZ.jpg?r=6e5" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>5. Breakage</h5>
        <p>Hank tries to pull himself together after his encounter with Tuco. Meanwhile, Jesse assembles a crew to get more product on the street.</p>
    </div>

    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABRfAdec6QtxqRcbmF0mBmLvFBRfijF18n09hz1DuJomvSbyZg6i3LLg8tAAG8FgyllCTqzVR8P7fBRgsYxkWXWWQKx3-jIrELRGSnPRzpH87FATt.jpg?r=34c" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>6. Peekaboo</h5>
        <p>As Jesse pursues the addicts who stole Skinny Pete's drug supply, Walt devises a cover story to explain how he's been paying for his treatments.</p>
    </div>
  </div>

  <div class="row" align="center">
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABX9-WRGXKZ3h_WW_5G-7vInHswAvXo1Y7MIbwepu8x6HZPY7BI8z8YggDQMhmYTavmHdyErnkfVyjahPkTX5koQBMHH9ZsKeBfIVjjXLgzxmu-DJ.jpg?r=3a0" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>7. Negro y Azul</h5>
        <p>As Jesse's reputation as a drug lord leads Walt to push for expansion of the operation, Hank's foray into the DEA's El Paso office leaves him shaken.</p>
        
    </div>
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABdcGo_IX4JRt_iYSHVH3tXkkgvGxPY-x5KgFlA4XQe4zEtLau5jxZzvr1fHxtn-0gmn4uEvlK_vFHA07tsdUorxfn89V4S_TypKBMzObYWFoBSek.jpg?r=922" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>8. Better Call Saul</h5>
        <p>Badger's arrest forces Walt and Jesse into league with a shady lawyer.</p>
        
    </div>
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABfDCM46m68lpxr9e0PLmnjYOKwFOba3-odOyTOxmj5r1d1_j5R0zwQykiHL1LwDxEsc2-_gpcGWYZHre9dKH-l26P8W6D_3aJ33rqH9a4azv3wyZ.jpg?r=4f1" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>9. 4 Days Out</h5>
        <p>Worried that he doesn't have much longer to live, Walt looks to provide for his family by enlisting Jesse for a marathon meth-cooking session.</p>
        
    </div>
  </div>

  <div class="row" align="center">
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABYBpP-QyLGFbPEKmsloW7C-Wa90Kd5CN0wP_Z1tKU9dM62pZoovmzCHXL3jroyGdmpDt8ZQJG2MFCvvAUTNRc787nISNzchqNfGKiOmXweKpnVC9.jpg?r=c3b" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>10. Over</h5>
        <p>In the wake of good news about his cancer treatments, Walt turns on his brother-in-law before focusing his attention on making things right at home.</p>
        
    </div>
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABXdVa-PDJli_O9ekHA2g8xHx40f2LTd4d5P2lThTlGA91mnnaoZ5oi3G3iGS99P5OCRwLuGtFx_oEBdCCs38joNIsNyjyy-BzgK0Lu6yKmw7YVRQ.jpg?r=0f7" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>11. Mandala</h5>
        <p>As the end of her pregnancy finds Skyler conflicted about her feelings, a dealer's death forces Walt to look for somewhere to unload a load of meth.</p>
        
    </div>
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABYeM32pDMDaPXkgnp6RU6yFSN2ksjurAxjbNjUYENWGTEoM05TiIZph991aIm46y2caXyCE3RCT2hULq7V1UE1guLJL_RBYonP7F4eiGUOzadXrC.jpg?r=a4f" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>12. Phoenix</h5>
        <p>After missing his daughter's birth to complete a big drug deal, Walt squares off with Jesse's girlfriend over his share of the cash.</p>
        
    </div>
  </div>

  <div class="row" align="center">
        <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABbmII0EjI-ObCpimTAmv81Ki3HwtgckIWI67AeF9FZNwWbkCbhhy-ua1lplKo_4xmqJxzkW73dDB6bJe6RvvwlQLyioSUs4RhbCq2Zp53JOQ1DD5.jpg?r=f5d" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>13. ABQ</h5>
        <p>Walt tries to put his and Jesse's lives back on track as he prepares for surgery<br>and looks to keep his money source a secret from Skyler and Walt Jr.</p>
        </div>
  </div>

</div>

{% endblock %}