{% extends "layout.html" %}

{% block script %}

{% endblock %}

{% block title %}
  episodes
{% endblock %}

{% block main %}
<div class="container">

  <div class="dropdown" style="padding-bottom: 20px;">
    <button style="width: 160px; color: #5ab87c;" class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ season }} 
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="1">Season 1</a>
      <a class="dropdown-item" href="2">Season 2</a>
      <a class="dropdown-item" href="3">Season 3</a>
      <a class="dropdown-item" href="4">Season 4</a>
      <a class="dropdown-item" href="5">Season 5</a>
    </div>
  </div>

      <p style="font-weight: 400; color:#bfbfbf; font-size: 15px;"> release year: 2011</p>
    <p>Emmy winner Bryan Cranston returns as chemistry teacher turned meth maker Walter White, who's now desperate to outwit drug lord Gus Fring.</p>
    <hr style="height:2px;border-width:0;color:green;background-color:#3fb573">

  <div class="row" align="center">
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABa1aY4jjsIsEnNl9L_aiYBVBQRyO8pwrwI_G0yoJ94UH8z4I1XQu521i25ux5TvBGJ3W1V_481wVJze1_kN-xpBHGQyp0RWUhdbS7Rb6tLrl42iQ.jpg?r=d4d" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>1. Box Cutter</h5>
        <p>After a tense third-season cliffhanger that saw Walt and Jesse laboring for their lives, they wait anxiously to see what Gus will do next.</p>
    </div>

    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABa8a7d7X-rWm_LygyUN_V4aCreO1DHA7JsJhsf8PnL7n7EpRsEmW0ih3qMef_ot56DeaK6vFSpi4q_jQk_QVMeAtIQtksb01fd_5nQ5iWUsOpfhT.jpg?r=6d1" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>2. Thirty-Eight Snub</h5>
        <p>While Walt prepares his defense against Gus, Jesse copes with the pressure by renewing his friendship with Badger and Skinny Pete.</p>
    </div>

    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABYeDaKtv809OhMHMo2mAz7BU19ObwwA4PWJWWY6ZNerWpy6p-Yd3rFyOfOOBhYQspuEM1Knjv39qmvWfhRpm9IJK59Paw9jbdSkUzXZG57ZPtDwk.jpg?r=ba4" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>3. Open House</h5>
        <p>While Walt worries about Gus's interference and Jesse's increasingly fragile state of mind, Skyler steps up the pressure to get what she wants.</p>
        
    </div>
  </div>

  <div class="row" align="center">
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABTSWii1AOwPL2Iu9aus3TJIjK4gvk8tmim7jVouSZ1H2nYEJzCN2HbL094p0Bd1YphYU9vUvpqb7DvMnDLHWd_DYicWD1VN_kqadSxeFADmVFmmI.jpg?r=bad" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>4. Bullet Points</h5>
        <p>As Skyler concocts an elaborate story to explain the Whites' finances, a worried Walt discovers that Hank has begun a new investigation.</p>   
    </div>
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABZ9Rzn5lRqnKanOQDlllLN0uWQ1NGoffASJdBSkNQGCYCuNJLN44Srqtezgwi9JA3UYdqLtn283UmV0hM6aZTDXYvFeoNX4O3lxnynM38TpBxDBf.jpg?r=1d4" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>5. Shotgun</h5>
        <p>Jesse rides shotgun with Mike on a perilous run of pickups, prompting Walt to worry that his partner is about to be killed.</p>
    </div>

    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABTqXqOy9rpPatdzAlRPQbCefZxlB8SbebsH9W10HlHN8FaaIi6Ozr_e0PGfAqAQHu4z0VAGkJ6qKBioiDdOoMi2BjcwDpXU5BoV9CWj5Sj-ootj_.jpg?r=1b8" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>6. Cornered</h5>
        <p>Skyler adopts an aloof approach when she suspects that Walt isn't telling her the truth. Meanwhile, Jesse proves his worth to Mike and Gus.</p>
    </div>
  </div>

  <div class="row" align="center">
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABYPOHckwait1v4ahNfo0rpvD5dt7sOl5_U1z99wkzrsBkrfLfzaQcY0j8DCi8F4ySFriBBbhDX-muq-LWEUdPiQ5VQPT2mHTZy1NoRad55MBceVn.jpg?r=156" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>7. Problem Dog</h5>
        <p>Ordered to return the car he bought for his son, Walt strikes back by putting Skyler in a tough spot with their new money-laundering operation.</p>
        
    </div>
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABQG2pcxY9gVfOneAS5OTtngRPCMek9Orhj8G89uqCApt_lf-0c7UshaU8B9dRM6Kz7cSJg8PvCpd21IoRuGd0CuJk3NiIqcsLA29HtFNg78uAMtz.jpg?r=bdc" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>8. Hermanos</h5>
        <p>When Hank produces evidence that Gus is Albuquerque's crystal meth kingpin, Walt worries that he and Jesse will be killed to protect their boss.</p>
        
    </div>
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABaRjivHboCtFJ_yGXACNwDPoKozGZn9UjEIgJ00akWHArpAkdEx3wIeyOJpkiEVNW8nb3lKhba8c4b92JWa9-7_4_v_r7XHejmx7wUACYCqTLe5y.jpg?r=023" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>9. bug</h5>
        <p>While Walt tries to subvert Hank's probe into the Albuquerque meth scene, a deadly warning forces Gus to consider a deal with the Mexican cartel.</p>
        
    </div>
  </div>

  <div class="row" align="center">
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABVJuvgc-HP_ycrdTzV-RrYABwBFuk-CNOULgEf2M7yd3BVyHCLfNQtWlok2c6V8fITvJZ-6oQHzUVG5UWv7xR4nvypEZmaPRCcU70_UE_HzcMz2R.jpg?r=f28" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>10. Salud</h5>
        <p>With a badly battered Walt still recovering from the fight, Gus drags Jesse with him to Mexico to seal the deal with the cartel.</p>
        
    </div>
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABd0MMWDiLYCviwfq3xSZ0yfBJYMqzrgSmMqJEjzGppnQ8CixyZ2xnjSXPXNiY6CxGG9wTZVoIGwHIwMKxbws4sRJusJ45FzZVyIGHRy1W1ll7dF0.jpg?r=a4d" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>11. Crawl Space</h5>
        <p>While Skyler pressures Ted to accept her money to pay his taxes, Gus insists that Jesse should resume working in the lab alone.</p>
        
    </div>
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABbZ0mq7ca73Ou3Km2bMEKlPwLifxoUERA8ZTAp97J6dZ5wLOqdVn7rbabNWrJS2cV3uRgoNeStF_7-5ng7NJHBVPkbWdzz2F6QpjFY_QWOFtRCTH.jpg?r=01e" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>12. End Times</h5>
        <p>While ordering his family to take advantage of the protection that the DEA is offering Hank, Walt awaits whatever fate is in store for him.</p>     
    </div>
  </div>

  <div class="row" align="center">
        <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABQ7udAu8Z4mFkKMUZDE59-CYkRTtxMca-385bjnP8mNq69mg1xdtuIgZRcTzftbEMceK66nncZV1irrTcviASO58I3m0y5bM5sfTBNcwYX_IJJLl.jpg?r=fa2" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>13. Face Off</h5>
        <p>When their plan to kill Gus falls through, Walt and Jesse must<br>act quickly to cover their tracks and avoid certain death.</p>
        </div>
  </div>
</div>

{% endblock %}