{% extends "layout.html" %}

{% block script %}

{% endblock %}

{% block title %}
	episodes
{% endblock %}

{% block main %}
<div class="container">

  <div class="dropdown" style="padding-bottom: 20px">
    <button style="width: 160px; color: #5ab87c;" class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ season }} 
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="1">Season 1</a>
      <a class="dropdown-item" href="2">Season 2</a>
      <a class="dropdown-item" href="3">Season 3</a>
      <a class="dropdown-item" href="4">Season 4</a>
      <a class="dropdown-item" href="5">Season 5</a>
    </div>
  </div>

      <p style="font-weight: 400; color:#bfbfbf; font-size: 15px;"> release year: 2008 </p>
    <p>Diagnosed with terminal cancer, a high school teacher tries to secure his family's financial future by producing and distributing crystal meth.</p>
    <hr style="height:2px;border-width:0;color:green;background-color:#3fb573">

  <div class="row" align="center">
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABaYZEwa45AkzGtR7e5__zSmv8H15L1ri1DKf7pDS69wMsnVHau87cHeYTJrxDLvtEkranI1gIob6jqXeSQg2dcNKjhC3-0CCJraYFejgw9weqyG4.jpg?r=c11" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>1. Pilot</h5>
        <p>Diagnosed with terminal lung cancer, a high school chemistry teacher resorts to cooking and selling methamphetamine to provide for his family.</p>
    </div>

    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABbr2HNSArj5G3O6GcO8Ju6qNjqUOg-AhFHdDskUKIdp9j0LkJkBsoccWfpiPqhBOM4Nsl_8uCpvALheoRNQp-E-7kA3fmBRNIq7g2CFx657V4RgP.jpg?r=73d" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>2. The Cat's in the Bag</h5>
        <p>Their first aborted drug deal forces Walt and Jesse to dispose of a pair of corpses. Meanwhile, Skyler suspects that her husband is up to no good.</p>
    </div>

    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABZ9RBMWcJCAMJt4-_igqrfcWJSwNstB3uCjsmB6YBSvcP3QIuARMA9e0MnqteninhTurKqlPdbTglLvjYt0MUTytE_vj069UemyhKmLT0XOEfer4.jpg?r=319" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>3. And the Bag's in the River</h5>
        <p>As Walt cleans up the mess that was left after his first drug deal, Skyler gets too close to the truth about his double life.</p>
        
    </div>
  </div>

  <div class="row" align="center">
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABehJl2k8IHqRQJ5yn_2eG9MDSK5C3A47FYbri4YS6_yyRSGvSQtEui30vT4q2lgtlb1pB0TD65Z2XJeZh2DAoPZtUzmGOuG4rN_59UVgj77b21lA.jpg?r=97a" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>4. Cancer Man</h5>
        <p>Being forced to reveal the truth about his illness leaves Walt facing the dilemma of how to pay for an expensive series of cancer treatments.</p>   
    </div>
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABc2E2D6XXwogNfDadOqXTamrrO2MjdhMuRRwFr0Cm6M3x9Z3A5uoQa-0ILGlgvabWsbJxKwxLARRROZ7Wgg0DzQM-vyMzxQynZIklvzmK-DEXjPh.jpg?r=5b3" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>5. Gray Matter</h5>
        <p>Skyler organizes an intervention to persuade Walt to accept his former research partner's generous offer to pay for the cancer treatments.</p>
    </div>

    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABcmaD87dICXSypkzASoo6SJHCuLrmM-VxBNmGSe_awF08dVZNsMI-XD290yR-87zM1WEC3mUyaLGnOI6d6ALeE_wVJo_VKCd-PSGfWmTdiy5yVpM.jpg?r=09e" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>6. Crazy Handful of Nothin'</h5>
        <p>With the side effects and cost of his treatment mounting, Walt demands that Jesse find a wholesaler to buy their drugs -- which lands him in trouble.</p>
    </div>
  </div>

  <div class="row" align="center">
        <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABVYieKCbG8s4fO0qVrZTqsmnFgqDXlMmIcb1utnrSR48aK2mkWf-ey-qdy-t35gxW5WROd3R7t4YN0iS5-jq_4e3sJo3XQ8ztIUWDWgiH9Gycbxc.jpg?r=248" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>7. A No-Rough-Stuff-Type Deal</h5>
        <p>After Jesse's brush with death, Walt agrees to produce even more drugs for the ruthless Tuco.<br> Meanwhile, Skyler suspects her sister of shoplifting.</p>
        
    </div>
  </div>

</div>

{% endblock %}