{% extends "layout.html" %}

{% block script %}

{% endblock %}

{% block title %}
  episodes
{% endblock %}

{% block main %}
<div class="container">

  <div class="dropdown" style="padding-bottom: 20px;">
    <button style="width: 160px; color: #5ab87c;" class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ season }} 
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="1">Season 1</a>
      <a class="dropdown-item" href="2">Season 2</a>
      <a class="dropdown-item" href="3">Season 3</a>
      <a class="dropdown-item" href="4">Season 4</a>
      <a class="dropdown-item" href="5">Season 5</a>
    </div>
  </div>

      <p style="font-weight: 400; color:#bfbfbf; font-size: 15px;"> release year: 2012</p>
    <p>In the final season, being bad is no longer an act as Walt's downward spiral leads him to the top of a drug empire, risking everything and everyone.</p>
    <hr style="height:2px;border-width:0;color:green;background-color:#3fb573">

  <div class="row" align="center">
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABYijmzAlODbQxo6ToEApXcG_jyLrti-s4lOX0XX2KlIJRR-X76deugVWf71z-mrydnpKmvRASDtpSKhpYU6iHFzq_LV0ZMNVRV2OPi19BmcNcYtQ.jpg?r=428" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>1. Live Free Or Die</h5>
        <p>Walt goes to see his family, still under guard, while dealing with the aftermath of the explosion at Casa Tranquila.</p>
    </div>

    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABZvx3ufVXfbTv4lON80PsD_Bv1y_r92tA-OMUTaEo68jAX2GNqRphe8e7AlbYVcklSG4ibLlvV5bnv_AClKyDNgS1DlJAnQlSizJY7cPiJk0h_1Q.jpg?r=be7" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>2. Madrigal</h5>
        <p>Walt and Jesse decide to look for a new partner to help them in their latest scheme. The DEA sifts through various leads, hoping to find something.</p>
    </div>

    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABSJHUauOk0w-5fJIzF6vrtCzeVLtirDOZnfqbjm9Mm4IP_c7reu6k8_QOPE3E1Y4lMd-qf6Wu31-TwZWtYeed6czeplRyBJPpo6B5W0atjUX-_ii.jpg?r=237" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>3. Hazard Pay</h5>
        <p>To Skyler's dismay, Walter moves back into the house. Walter, Mike and Jesse meet with Saul to talk about finding a new place to cook.</p>
        
    </div>
  </div>

  <div class="row" align="center">
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABWjfnfLPPHl9atujaQ3aBW1oJb9tbh3UmUkCGzF2FywzkLv9yLvB7-0uxBz2zKukH_UkPXj-E5yNGsZsWWfKo1H5wyfctQktfl9BzdhvzXNcxYdU.jpg?r=0b5" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>4. Fifty-One</h5>
        <p>As Lydia gives up her own employee to the DEA, Mike offers her a replacement: Jesse. Walt and Skyler argue about whether the family is safe.</p>   
    </div>
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABXRE8NmQQSH89dDUzUEd3kxO2DEl8fY-XTk1uVJjtbSh0Zh-BgcKFUS4PqFnYhZtYLTAJAOrADU2C2zf9oofi5cPsSgNmThKQ3TD-w1zTf03Wi47.jpg?r=dd9" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>5. Dead Freight</h5>
        <p>Mike and Lydia work to get the methylamine transported for the operation. Walt and Jesse try to come up with a plan that won't blow their cover.</p>
    </div>

    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABVe4GQBcpcnM6WM-US25Y2PxRmofKmJGaeVwdM3NR068NVbXmhkwSVEUufF8Yg8NeXu9oFc1t6dp-gY_sMm3km7owoonxRgftiitLD9pnXYKNx9X.jpg?r=296" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>6. Buyout</h5>
        <p>Walt, Mike and Jesse deal with the repercussions of the methylamine heist. Mike and Jesse want out, but Walt is determined to build his empire.</p>
    </div>
  </div>

  <div class="row" align="center">
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABRa3CsdHlZPdTDc7ql3TzChbDU9Wz9zi_vaBT7RITs0yuamXvFJA9lgx1EdFaPOCtU-tpsCZNAocAy-naDP_bjWVp7P6kHF5Ej2_Vy7PeBaobX9q.jpg?r=b33" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>7. Say My Name</h5>
        <p>Walter tries to strike up a deal with Declan. Told to lay off Mike, Hank switches his focus to the lawyer who's been paying off Mike's men.</p>
        
    </div>
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABeHxxB3aGGtUL9M73mOahUwitLIcJ0PbOVFgoLcmISt3BNVuwJqU2NTV1iLMraFsrfBDbdq4tBVJGx0raviYnI-HGeQegrp-nQ82vzl_QO9ln7wc.jpg?r=18d" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>8. Gliding Over All</h5>
        <p>Walt meets with Lydia to get the names of Mike's people in prison. Skyler makes another attempt to convince Walt to give up cooking meth.</p>
        
    </div>
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABZESB6twZVkHD77GFumJo_F2tHoNeUdY0l300lEwge6yGmDJ7pQdGvoIslVaUn3lqZFBnoDK2kq4bgdcOsgFDRx_uSwNIOUdgue-utZS4DevFO5R.jpg?r=917" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>9. Blood Money</h5>
        <p>As Walt and Jesse adjust to life out of the business, Hank grapples with a troubling lead.</p>
        
    </div>
  </div>

  <div class="row" align="center">
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABdlAphSFK-kqHR-zy25L9nd6oWXQui_cfYGUThk0wUwFCpvBzUvidvshVorN6gD3K1wT2tFLZVjRrvZKUjU2LbhgaTT1FooY6b4k9dPgeRkIE1D_.jpg?r=30d" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>10. Buried</h5>
        <p>While Skyler's past catches up with her, Walt covers his tracks. Jesse continues to struggle with his guilt.</p>
        
    </div>
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABTgWvSrbO_dJyZGFyIMENKyGp1ng5rNb0S3Xmaz0hLO6w_vsr0n2Ouk4CtnArPzP14h9TEIvbpm4Yed-lJF5XLz08NL7bfbBexpyuUhb9V6t5uAR.jpg?r=18e" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>11. Confessions</h5>
        <p>Jesse decides to make a change, while Walt and Skyler try to deal with an unexpected demand.</p>
        
    </div>
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABWUu-j2VQmNTpOXSDsAJpMpo3taLa2zLjLxfTxXrDpIKMZUIYY8K-qdF6YA_gH9CGcc4H4jRRkl9u3YF0gLNSXpFseaD4v3kaaFGP54K5rxsiDV1.jpg?r=89f" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>12. Rabid Dog</h5>
        <p>An unusual strategy starts to bear fruit, while plans are set in motion that could change everything.</p>     
    </div>
  </div>

  <div class="row" align="center">
        <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABTLcoBXPzxmUlVx2UUVpGOrStWcAJKLg6PgxXPStG3Kft8hxlaakQ42mKbEpOyh61MoviCU3Z4l83E5mDNz4lqPA6AaWgp9zWFO-01VNAzl4a4Nj.jpg?r=7e6" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>13. To'hajiilee</h5>
        <p>Things heat up for Walt in unexpected ways.</p>
        </div>
        <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABWgR3-vTZru3MImcdNsGUSLo2hWF-Ro1T6-2-YGm2-m-dTK62vjQqSWckdX2m7024MzhgnNSA156_XvivHpqSj_bueutNTF0gMo8s9MpiCwjvjC3.jpg?r=451" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>14. Ozymandias</h5>
        <p>As the series draws to a close, everyone copes with radically changed circumstances.</p>
        </div>
        <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABaG6vq0is4sXwiia2WBdXvX-F_49j0puOZogb4Y7O2H2g6G6k28nbLvFr_1LipiTXqMyXKFTollaqbteNQCh4HemjhMMANErmCzC44GBe85Q741N.jpg?r=40e" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>15. Granite State</h5>
        <p>In the penultimate episode of the series, events set in motion long ago move toward a conclusion.s</p>
        </div>
  </div>

  <div class="row" align="center">
        <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABXbhnJ8ghiws22O9akxRt_aFhjmMxITelbMSktTuM1GX7Lb8cqF3cK2WaUIe53GgYCrMWhEN8d7LaayY9A1eXxQw3sGMIVRUVZqUZlVeikWGzxRk.jpg?r=fa9" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>16. Felina</h5>
        <p>The award-winning series comes to a dramatic conclusion in the series finale.</p>
        </div>
  </div>

</div>

{% endblock %}