{% extends "layout.html" %}

{% block script %}

{% endblock %}

{% block title %}
  episodes
{% endblock %}

{% block main %}
<div class="container">

  <div class="dropdown" style="padding-bottom: 20px;">
    <button style="width: 160px; color: #5ab87c;" class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ season }} 
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="1">Season 1</a>
      <a class="dropdown-item" href="2">Season 2</a>
      <a class="dropdown-item" href="3">Season 3</a>
      <a class="dropdown-item" href="4">Season 4</a>
      <a class="dropdown-item" href="5">Season 5</a>
    </div>
  </div>

      <p style="font-weight: 400; color:#bfbfbf; font-size: 15px;"> release year: 2010</p>
    <p>The previous season left Walter White on unstable ground. But for the sake of his family, he continues cooking crystal meth on the down-low.</p>
    <hr style="height:2px;border-width:0;color:green;background-color:#3fb573">

  <div class="row" align="center">
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABSky9Sv5Fnh2DP6R1MQ-TINE-iWmZxpj9crWOk6Ko85PqcZX4Ty_TpMn-x61OzDftvYTqYkUnN3sH_GYwYJ-znK2FEKZGh6uNnV-8V6S7YDO4jFx.jpg?r=46a" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>1. No Más</h5>
        <p>Skyler forces Walt to move out in the wake of the airline disaster, while Jesse's rehab helps him come to grips with his role in the collision.</p>
    </div>

    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABVTJUMpn-8kn--wkLwDKGIEm-x8R7HnkFTlDVP8TRbch4jVKZjzondrJkroecUd-TkRFHaBtpGbjQVGlB2yP3gJQycYiRUOUv6PRH91cjGCoZAPC.jpg?r=bbc" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>2. Caballo Sin Nombre</h5>
        <p>With Skyler set on divorce, an unwitting Walt lands squarely in the crosshairs of two Mexican drug cartel hit men who are looking for revenge</p>
    </div>

    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABXsE8T0jX8tfWwFzXmL15qMZuJUlznae6Gk0ILYzTeFKz0gdW8e2wP0CzV68uDQwCnRVP6q52sfG52lpM1lri-LDyY-9KK76hYFNBJoOvTcjQKbt.jpg?r=68a" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>3. I.F.T.</h5>
        <p>The tension mounts as Walt calls Skyler's bluff and moves back home without her consent, and Jesse ponders re-entering the drug trade.</p>
        
    </div>
  </div>

  <div class="row" align="center">
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABQBspgHvI-YHkpWqg-L3pQ2qjG4SuRayGq0qwybXE3uVnISXeUqQ9LzOiN2MH_CGMf-TINGCfQRCEnh5wqUExkwzLm9IKtoTx4U3up6dz_K97aJ1.jpg?r=87b" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>4. Green Light</h5>
        <p>Walt gets involved when a new batch of meth puts Jesse back in business. Meanwhile, Skyler's affair with her boss is creating chaos.</p>   
    </div>
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABZ3gW70_0avhMiKnlVr_mahPVtflJOTx41MtB-OQvJdgr6-zVFLFibPV-6xQTu2u_-Lbhees0sWhBno7yPDM_e9gzUhkytcDQZ_u5l-OFJD__v7w.jpg?r=c68" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>5. Mas</h5>
        <p>As Skyler reconsiders her objections to Walt's return, he mulls over returning to the drug trade. Also, Hank's obsession promises trouble for Jesse.</p>
    </div>

    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABR41A5jNaQi7H7KQfwZQYnCAUxQi538hsoETDjdedeqrWvNnlvk_6vS-FwK0cuVXfG25UH3gH0ggCb8xDOZK1IK0MwXV25OgbkDLFU0KJeS7i75n.jpg?r=0b2" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>6. Sunset</h5>
        <p>The discovery of Walt and Jesse's old RV forces them to act fast just as Walt resumes business in Gus's state-of-the-art meth lab.</p>
    </div>
  </div>

  <div class="row" align="center">
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABVQiIsSpixZUkz-Jh-H_1Lf6DtLeM8QmkV6CPFoVlDqu5IJ4--WhJYtkZs58FGnHIVGXiffNrbCMPOjXF0pmPkBZcLkjiJM2SbyU7qMHjtiHuZkL.jpg?r=02b" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>7. One Minute</h5>
        <p>When Hank risks his career by attacking Jesse, Jesse vows to retaliate with a lawsuit, and Skyler looks to Walt to stop Jesse from pressing charges.</p>
        
    </div>
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABQDIleSgyjo1ZHZgPwxqQbv5K2i3JQdDRODarXh7lebN1DRsKD666-zcrQWgNRslJu0hi6tIiFCxiRpyOiN2HAwstIrSaB2N0nx2vieKSs7xCH9u.jpg?r=cbc" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>8. I See You</h5>
        <p>With Hank clinging to life after surviving the drug cartel's attack, Walt looks to ward off trouble by taking on Jesse as a partner.</p>
        
    </div>
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABXSkAxRr9cJEeRWjfj4c-EaLWqmIJFDORtqvf--90Oun-ubvVIRTEeNOAoj5qns4-f7VdlflTvzIG2p0VNkNT-znlSamqJ2jV_vwR-vGAVCBebO5.jpg?r=7e3" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>9. Kafkaesque</h5>
        <p>While the prospects for Hank's recovery place Marie at odds with their insurance company, Jesse looks for a way to increase his take.</p>
        
    </div>
  </div>

  <div class="row" align="center">
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABURGr-j_U9XM4Z4n57dj3YRSiZ2xin72_HgJLQpKtJ21wQNhdoUdznwt1poCM8p1f0MOFWUl_9AaAkuIwNPhkejU-UziXFpbYslRqnrwQzb7qH5Y.jpg?r=56c" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>10. Fly</h5>
        <p>A long, tense night in the meth lab pits Walt and Jesse against a pesky fly that refuses to die, no matter what they do.</p>
        
    </div>
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABa5TxI9Rx_-I5sNbfEeyjv602GdpCQHzFGIMBWgTNajzOyUapPCqpLjoPrbJoi_0tPNICRyD998pvW3QkLSR-em63OR4bZelW3KapQyFjHC2mctS.jpg?r=575" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>11. Abiquiu</h5>
        <p>Hank is unhappy with the pace of his recovery, Skyler questions Saul's money-laundering scheme, and Jesse falls for a fellow rehab patient.</p>
        
    </div>
    <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABXhD3sCg7BXxTc8kuXEuM77SA5Pn3E3KmdnFl0o_9YVXExfqAGMraHRTg3_SbsWMrBtyTFr-9jyxyle-k0mQPVBzHC57UIylLC_KVOofgfX8o4FW.jpg?r=1ad" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>12. Half Measures</h5>
        <p>Jesse pursues the dealers who orchestrated Combo's murder, Hank refuses to leave the hospital, and Skyler presses Walt to accept her scheme.</p>
        
    </div>
  </div>

  <div class="row" align="center">
        <div class="col-sm">
        <img src="https://occ-0-2705-2706.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABUVz2-gj-JEmFZUlRrsVFk1U-F0_rf2d-vwV_jhbY0_Dd520tatOpKzm8MVXej8FHiH8R57ZYBXYPWW0lp7iJSnMe8sYZfKlooe-ai24MZNCK2bj.jpg?r=b2e" width="auto" height="170" style="padding-bottom: 10px;">
        <h5>13. Full Measure</h5>
        <p>After taking out two of his boss's street dealers, Walt realizes that Gus is<br>planning to kill him and Jesse and replace him with his former assistant.</p>
        </div>
  </div>

</div>

{% endblock %}